# Ignore Firebase Admin SDK credentials
backend/TrashCashCampus/src/main/resources/trashcashcampusmobile-firebase-adminsdk-*.json

# Ignore compiled files
*.class
*.jar
*.war
*.ear
*.log

# Ignore Gradle files
.gradle/
build/

# Ignore Android Studio / IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr
*.iws
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/libraries
.idea/caches

# Ignore Android build files
*.apk
*.aab
*.ap_
*.dex
*.class
out/
build/
captures/
.externalNativeBuild/
.cxx/
*.so
*.o
*.obj

# Ignore local configuration files
local.properties
.DS_Store
